.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.pointer 
{
  cursor: pointer;
}

h1{
  background-color: gray;
  color: white;
  width:  70%;
  margin-top: 1em;
  box-shadow: 2px 5px ;
}
